<form method="post" action="/login" >
    <input type="text" name="username" placeholder="Enter UserName"  />
    <input type="password" name="password" placeholder="Enter password"  />
    <input type="submit"  />
</form>